.bottom__body
  %form.form
    %input.form__message{ placeholder: "type a message", type: "text" }
    %label
      %i.fa.fa-picture-o
        %input{ type: "file", class: "file" }
      %input.form__button{ type: "button", value: "Send" }
