.groups
  / ログイン中ユーザーの所属グループ一覧
  .group__name1
    グループ１_グループ名
  .group__message1
    グループ１_最新メッセージ

  .group__name2
    グループ２_グループ名
  .group__message2
    グループ２_最新メッセージ

  .group__name3
    グループ３_グループ名
  .group__message3
    グループ３_最新メッセージ
