.right__content
  .post_name A
  %p.timestamp 2018/10/03 17:13:14
  %p.post A said smt.

  .post_name B
  %p.timestamp 2018/10/03 17:13:18
  %p.post B said smt.

  .post_name C
  %p.timestamp 2018/10/03 17:14:32
  %p.post C said smt.

  .post_name D
  %p.timestamp 2018/10/03 17:15:11
  %p.post D said smt.

