.right

  .right__header
    %a{ :href => '#', :id => 'edit_button' } Edit
    %h4.group_name 選択中のグループ名
    %p.group_member Members : 一覧がここに表示

  .right__content
    .post_name A
    %p.timestamp 2018/10/03 17:13:14
    %p.post A said smt.

    .post_name B
    %p.timestamp 2018/10/03 17:13:18
    %p.post B said smt.

    .post_name C
    %p.timestamp 2018/10/03 17:14:32
    %p.post C said smt.

    .post_name D
    %p.timestamp 2018/10/03 17:15:11
    %p.post D said smt.

    .post_name A
    %p.timestamp 2018/10/03 17:17:17
    %p.post A said smt.

    .post_name B
    %p.timestamp 2018/10/03 17:18:22
    %p.post B said smt.

    .post_name C
    %p.timestamp 2018/10/03 17:23:18
    %p.post C said smt.

    .post_name D
    %p.timestamp 2018/10/03 17:35:56
    %p.post D said smt.

  .right__bottom
    %form
      %input{type: "text", placeholder: "type a message", class: "form__text"}
      %label{class: "fa fa-picture-o icon"}
        %input{type: "file"}
      %input{value: "Send", type: "submit", class: "btn"}
