.sidebar
  .header
    .header__user-name
    Rick
    / 名前仮置き
    .header__icon
      = link_to ('#') do
        = fa_icon 'edit'

      = link_to ('#') do
        = fa_icon 'cog'

  =render 'messages/group-list'
